html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  font-weight:bold;
}

#lady {
  position: fixed;
  top: 80px;
  left: 200px;
}

#button {
  position: fixed;
  top: 250px;
  left: 180px;
}

